<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.dao.TeacherMapper">

	<select id="findByMobile" resultType="TeacherEntity">
		SELECT
			t.uid,
			t.mobile,
			t.name,
			t.motto,
			t.province_id,
			t.city_id,
			t.course_id,
			t.card_id,
		  	t.card_photo , 
			t.occupation_papers , 
			t.qq,
			t.create_time,
			t.status,
			t.email
		FROM
			tiku_teacher t
		WHERE
			t.mobile = #{mobile}
	</select>
	
</mapper>