<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tamguo.admin.dao.SysRoleMapper">

	<select id="selectPageByName" resultType="SysRoleEntity">
		SELECT
			r.uid , r.name , r.perms
		FROM
			sys_role r
		<where>
		 	<if test="name!=null and name !=''">
			 t.name like #{name}
			</if>
		 </where>
	</select>
	
</mapper>