<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>探果-科目</title>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/iconfont.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/member/account.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/member/memberMain.css'}" />
		<link type="favicon" rel="shortcut icon" th:href="${setting.domain + 'images/favicon.png'}" />
	</head>
	<body>
	<!-- 头部-->
	<div class="head" th:fragment="memberHeader">
		<div class="head-bar public">
			<div class="logo">
				<a target="_blank" th:href="${setting.domain}">
					<img th:src="${setting.domain + 'images/logo_731bc32.png'}">
				</a>
				<p><span>考试中心</span></p>
			</div>
			<ul class="nav">
				<li><a th:href="${setting.domain + 'member/index.html'}">首页</a></li>
				<li><a th:href="${setting.domain + 'member/paper.html'}">试卷</a></li>
				<li class="active"><a th:href="${setting.domain + 'member/account.html'}">帐号</a></li>
			</ul>
			<div class="mguser">
				<div class="mguser-box">
					<span th:text="${session.currMember.username}">tamguo</span>
					<a th:href="${setting.domain + 'logout.html'}">退出</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cnav">
			<div class="public cnav_b">
				<div class="cnav_left">
					考试五步曲
				</div>
				<div class="cnav_right">
					<ul>
						<li><span class="Cnav_t">1</span><b>新建试卷</b></li>
						<li><span>2</span>添加试题</li>
						<li><span>3</span>发起一场考试</li>
						<li><span>4</span>导考生，发通知</li>
						<li><span>5</span>查看报告</li>
					</ul>
				</div>
			</div>
		</div>	
		
		<div class="acm-container">
			<div class="cnt-box public infoCnt-box contentBox ">
				<div class="info-cnt">
					<div class="navLeft">
	                 <dl>
							<dt class="down">
								<img th:src="${setting.domain + 'images/member/index/person.png'}" style="width: 14px;
	    margin-right: 6px;margin-top: -5px;"> 个人信息 <i class="fa fa-minus icon-w"></i>
							</dt>
							<div class="list">
							<a th:href="${setting.domain + 'member/account.html'}"><dd class="activeDd"><i></i>基本信息</dd></a>
							<!--  <dd>绑定账号</dd> -->
							<a th:href="${setting.domain + 'member/updatePwd.html'}"><dd><i></i>修改密码</dd></a>
							</div>
							<dt class="down">
								<img th:src="${setting.domain + 'images/member/index/compnew.png'}" style="width: 14px;
	    margin-right: 6px;margin-top: -5px;"> 公司信息 <i class="fa fa-minus icon-w"></i>
							</dt>
							<div class="list">
							<a href="/b/entInfo"><dd><i></i>基本信息</dd></a>
							</div>
							<dt class="down">
								 <img th:src="${setting.domain + 'images/member/account/cog.png'}" style="width: 14px;
									margin-right: 6px;"> 账户信息 <i class="fa fa-minus icon-w"></i>
							 </dt>
							 <div class="list">
								 <a href="/b/order">
									 <dd><i></i>账户管理</dd>
								 </a>
								 <a href="/b/orderBill">
									 <dd><i></i>发票信息</dd>
								 </a>
							 </div>
						</dl>
	              </div>
					<div class="info-right newsRight">
						<div class="info-rBox" style="padding-bottom: 20px;">
								<div class=" user_list clearfix">
									<table class="info-table" border="0" cellspacing="0" cellpadding="0">
										<tbody>
										<tr>
											<td><label class="info-label" style="left: 30px;"><span></span>头像：</label></td>
											<td id="app">
												<my-upload url="uploadFile.html"
														field="file"
														key="0"
														lang-type="zh"
														:value.sync="show2"
														:params="otherParams"></my-upload>
												
												<div class="clearfix" style="width: ; margin-bottom: 15px">
												<div class="clearfix" id="upPhoto">
													<img class="acphoto" id="acphoto" th:src="${setting.domain + member.avatar}">
													<input type="hidden" name="avatar" th:value="${setting.domain + member.avatar}"></input>
													<div class="mybtn">
														<span>支持jpg、jpeg和png格式，最大2M</span><br>
														<input type="button" id="up_photo" @click="toggleShow2" class="up_photo" value="上传头像">
														<input type="button" id="def_photo" onclick="defaultAvatar()" class="up_photo" value="默认头像" style="background: #fff;color: #29bdb9;">
													</div>
									
														<input type="text" id="contactPhoto" name="contactPhoto" hidden="" class="cvcadd-text input" placeholder="请输入姓名/昵称" value="/images/defphoto/peopleSix.png">
												</div>
	
											</div>
											</td>
											<td>
	
											</td>
										</tr>
										<tr>
											<td><label class="info-label" style="left: 30px;"><span>*</span>昵称：</label></td>
											<td><div class="clearfix" style="width: ; margin-bottom: 15px">
												<div class="clearfix">
													<input type="text" name="nickName" class="cvcadd-text input" placeholder="请输入姓名/昵称" th:value="${member.nickName}">
												</div>
											</div></td>
										</tr>
	
										<tr>
	                                        <td><label class="info-label" style="left: 30px;"><span>*</span>邮箱：</label></td>
	                                        <td><div class="clearfix" style="width: ; margin-bottom: 15px">
	                                        <div class="clearfix">
	                                            <input type="text" name="email" class="cvcadd-text input" placeholder="请输入邮箱" th:value="${member.email}">
	                                        </div>
	                                    </div></td>
	                                    </tr>
	
										<tr>
											<td><label class="info-label" style="left: 30px;"><span>*</span>手机：</label></td>
											<td><div class="clearfix" style="width: ; margin-bottom: 15px">
												<div class="clearfix">
													<input type="text" name="mobile" class="cvcadd-text input" placeholder="请输入手机" th:value="${member.mobile}">
												</div>
											</div></td>
										</tr>
										</tbody>
									</table>
									
									
								</div>
								<p class="saveBtn">
									<a onClick="updateMember()" class="btn_ok" rel="cxdialog" rev="btn_ok" id="confirm_btn" style="position: relative;left: 103px;padding: 5px 60px;top: 10px;">保存</a>
								</p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!--content end-->
		</div>
		
		<!-- 尾部-->
		<div th:replace="include/memberFooter :: memberFooter"></div>
		
		<script type="text/javascript" th:src="${setting.domain + 'js/jquery-1.8.3.min.js'}" ></script>
		<script type="text/javascript" th:inline="javascript">
			var mainHttp = [[${setting.domain}]];
		</script>
		<script type="text/javascript" th:src="${setting.domain + 'libs/vue.min.js'}"></script>
		<script th:src="${setting.domain + 'js/plugins/layer/layer.js'}"></script>
		<script type="text/javascript" th:src="${setting.domain + 'js/member/account.js'}"></script>
		<script type="text/javascript" th:src="${setting.domain + 'js/plugins/vue-image-crop-upload/demo-src.js'}"></script>
		<script type="text/javascript">
			function updateMember(){
				var member = {};
				member.nickName = $("input[name='nickName']").val();
				member.email = $("input[name='email']").val();
				member.mobile = $("input[name='mobile']").val();
				member.avatar = $("input[name='avatar']").val();
				$.ajax({
					type: "POST",
				    url: mainHttp + "member/account/update.html",
				    data: member,
				    dataType:"json",
				    success: function(r){
				    	if(r.code === 0){
				    		layer.alert('操作成功', function(index){
				    			window.location.reload();
							});
						}else{
							layer.alert(r.message);
						}
					}
				});
			}
			function defaultAvatar(){
				$("input[name='avatar']").val("images/avatar.png");
				$("#acphoto").attr("src",mainHttp + "images/avatar.png");
			}
		</script>
	</body>
</html>