<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>会员中心_探果题库</title>
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/iconfont.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/member/account.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/member/memberMain.css'}" />
		<link type="favicon" rel="shortcut icon" th:href="${setting.domain + 'images/favicon.png'}" />
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-ui@2.4.2/lib/theme-chalk/index.css">
		<style type="text/css">
		  .avatar-uploader .el-upload {
		   
		    border-radius: 6px;
		    cursor: pointer;
		    position: relative;
		    overflow: hidden;
		  }
		  .avatar-uploader .el-upload:hover {
		    border-color: #409EFF;
		  }
		  .avatar-uploader-icon {
		    font-size: 28px;
		    color: #8c939d;
		    width: 80px;
		    height: 80px;
		    line-height: 80px;
		    text-align: center;
		    
		  }
		  .avatar {
		    border: 1px dashed #d9d9d9;
		    width: 80px;
		    height: 80px;
		    display: block;
		  }
		</style>
	</head>
	<body>
	<!-- 头部-->
	<div class="head" th:fragment="memberHeader">
		<div class="head-bar public">
			<div class="logo">
				<a target="_blank" th:href="${setting.domain}">
					<img th:src="${setting.domain + 'images/logo_731bc32.png'}">
				</a>
				<p><span>考试中心</span></p>
			</div>
			<ul class="nav">
				<li><a th:href="${setting.domain + 'member/index.html'}">首页</a></li>
				<li><a th:href="${setting.domain + 'member/paper.html'}">试卷</a></li>
				<li class="active"><a th:href="${setting.domain + 'member/account.html'}">帐号</a></li>
			</ul>
			<div class="mguser">
				<div class="mguser-box">
					<span th:text="${session.currMember.username}">tamguo</span>
					<a th:href="${setting.domain + 'logout.html'}">退出</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="cnav">
			<div class="public cnav_b">
				<div class="cnav_left">
					探果五步曲
				</div>
				<div class="cnav_right">
					<ul>
						<li><span class="Cnav_t">1</span><b>新建试卷</b></li>
						<li><span>2</span>添加子卷</li>
						<li><span>3</span>添加试题</li>
						<li><span>4</span>发布试卷</li>
						<li><span>5</span>等待收益</li>
					</ul>
				</div>
			</div>
		</div>	
		
		<div class="acm-container"  >
			<div class="cnt-box public infoCnt-box contentBox ">
				<div class="info-cnt">
					<div class="navLeft">
	                 <dl>
							<dt class="down">
								<img th:src="${setting.domain + 'images/member/index/person.png'}" style="width: 14px;margin-right: 6px;margin-top: -5px;"> 个人信息 <i class="fa fa-minus icon-w"></i>
							</dt>
							<div class="list">
								<a th:href="${setting.domain + 'member/account.html'}"><dd class="activeDd"><i></i>基本信息</dd></a>
								<a th:href="${setting.domain + 'member/password.html'}"><dd><i></i>修改密码</dd></a>
							</div>
							<dt class="down">
								<img th:src="${setting.domain + 'images/member/index/compnew.png'}" style="width: 14px;
	    								margin-right: 6px;margin-top: -5px;"> 我的钱包 <i class="fa fa-minus icon-w"></i>
							</dt>
							<div class="list">
							<a href="/b/entInfo"><dd><i></i>我的积分</dd></a>
							<a href="/b/entInfo"><dd><i></i>我的现金</dd></a>
							</div>
							<dt class="down">
								 <img th:src="${setting.domain + 'images/member/account/cog.png'}" style="width: 14px;
									margin-right: 6px;"> 账户信息 <i class="fa fa-minus icon-w"></i>
							 </dt>
							 <div class="list">
								 <a href="/b/order">
									 <dd><i></i>修改手机号</dd>
								 </a>
								 <a href="/b/orderBill">
									 <dd><i></i>修改邮箱</dd>
								 </a>
							 </div>
						</dl>
	              </div>
					<div class="info-right newsRight" id="app" v-loading="loading">
						<div class="info-rBox" style="padding-bottom: 20px;">
								<div class=" user_list clearfix">
									<el-form ref="member" :rules="rules" :model="member" label-width="80px">
									  <el-form-item label="用户头像">
									    <el-upload
										  class="avatar-uploader"
										  action="uploadFile.html"
										  :show-file-list="false"
										  :on-success="handleAvatarSuccess"
										  :before-upload="beforeAvatarUpload">
										  <img v-if="member.avatar" :src="member.imageUrl" class="avatar">
										  <i v-else class="el-icon-plus avatar-uploader-icon"></i>
										 </el-upload>
									  </el-form-item>
									  <el-form-item label="用户名" prop="username">
									    <el-input v-model="member.username" th:value="${member.username}" :disabled="true"></el-input>
									  </el-form-item>
									  <el-form-item label="昵称" prop="nickName">
									    <el-input v-model="member.nickName" th:value="${member.nickName}"></el-input>
									  </el-form-item>
									  <el-form-item label="科目" prop="kemuId">
									    <el-cascader
										    :options="courses"
										    v-model="member.kemuId">
										  </el-cascader>
									  </el-form-item>
									  <el-form-item>
									    <el-button type="primary" @click="onSubmit">立即修改</el-button>
									  </el-form-item>
									</el-form>
								</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<!--content end-->
		</div>
		
		<!-- 尾部-->
		<div th:replace="include/memberFooter :: memberFooter"></div>

		<script type="text/javascript" th:inline="javascript">
			var mainHttp = [[${setting.domain}]];
		</script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16"></script>
   	 	<script src="https://cdn.jsdelivr.net/npm/element-ui@2.4.2/lib/index.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios@0.18.0/dist/axios.min.js"></script>
		<script type="text/javascript" th:src="${setting.domain + 'js/member/account.js'}"></script>
	</body>
</html>