<!DOCTYPE html>
<html lang="Zh-hans" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>教师招募_探果题库</title>
		<meta name="description" content="教师招募"/>
		<meta name="keyword" content="教师招募"/>
		<meta name="author" content="Tamguo Team" />
		<meta name="copyright" content="Tamguo" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/reset.css'}" />
		<link rel="stylesheet" th:href="${setting.domain + 'css/teacher/joinus.css'}" />
		<link type="favicon" rel="shortcut icon" th:href="${setting.domain + 'images/favicon.png'}" />
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	</head>
	<body>
		<div id="wrapper" class="">
		    <div id="head">
		        <div class="mod-header">
		            <a th:href="${setting.domain}" style="display: block;">
		                <img th:src="${setting.domain + 'images/logo_731bc32.png'}" alt="logo"></a>
		        </div>
		    </div>
		    <div id="nav">
		        <div class="nav-2">
		            <div class="mod-nav clearfix">
		                <h1 class="page-type-notab"></h1>
		            </div>
		        </div>
		    </div>
		    <div id="content">
		        <div class="mod-reg clearfix mod-reg-">
					<div id="infoForm">
						<el-steps :active="active" finish-status="success">
						  <el-step title="手机号"></el-step>
						  <el-step title="档案信息"></el-step>
						  <el-step title="审核状态"></el-step>
						</el-steps>
						<div v-show="active == 1" style="width:90%;margin-top:50px;">
							<el-form ref="mobileForm" :model="mobileModel" :rules="rules" label-width="120px">
							  <el-form-item label="手机号" prop="mobile">
							    <el-input v-model="mobileModel.mobile"></el-input>
							  </el-form-item>
							  <el-form-item label="验证码" prop="verifyCode">
							    <el-input v-model="mobileModel.verifyCode" style="width:120px;"></el-input>
							    <el-button plain @click="sendSms()">发送验证码</el-button>
							  </el-form-item>
							</el-form>
						</div>
						<div v-show="active == 2" style="width:90%;margin-top:50px;">
							<el-form ref="teacherForm" :model="teacher" :rules="teacherRules" label-width="120px">
								  <el-form-item label="地区" prop="areaId">
									  <el-cascader
									    :options="options"
									    v-model="teacher.areaId">
									  </el-cascader>
								  </el-form-item>
								  <el-form-item label="科目" prop="kemuId">
								    <el-cascader
									    :options="courses"
									    v-model="teacher.kemuId">
									  </el-cascader>
								  </el-form-item>
								  <el-form-item label="真实姓名" prop="name">
								    <el-input v-model="teacher.name"></el-input>
								  </el-form-item>
								  <el-form-item label="身份证号" prop="cardId">
								    <el-input v-model="teacher.cardId"></el-input>
								  </el-form-item>
								  <el-form-item label="邮箱" prop="email">
								    <el-input v-model="teacher.email"></el-input>
								  </el-form-item>
								  <el-form-item label="QQ号">
								    <el-input v-model="teacher.qq"></el-input>
								  </el-form-item>
								  <el-form-item label="身份证正面照" prop="cardPhoto">
								    <el-upload
								      name="upfile"
									  class="upload-demo"
									  :action="uploadUrl"
									  :before-remove="beforeRemove"
									  :limit="1"
									  :on-exceed="handleExceed"
									  :on-remove="handleCardPhotoRemove"
									  :on-success="uploadCardPhotoSuccess"
									  list-type="picture"
									  :file-list="cardPhotoList">
									  <el-button size="small" type="primary">点击上传</el-button>
									  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
									</el-upload>
								  </el-form-item>
								  <el-form-item label="证件照" prop="occupationPapers">
								    <el-upload
								      name="upfile"
									  class="upload-demo"
									  :action="uploadUrl"
									  :before-remove="beforeRemove"
									  :limit="1"
									  :on-remove="handleOccupationPapersRemove"
									  :on-exceed="handleExceed"
									  :on-success="uploadOccupationPapersSuccess"
									  list-type="picture"
									  :file-list="occupationPapersList">
									  <el-button size="small" type="primary">点击上传</el-button>
									  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
									</el-upload>
								  </el-form-item>							  
							</el-form>
						</div>
						<div v-show="active == 3" style="width:95%;margin-top:50px;">
							<template>
							  <el-alert
							    title="请耐心等到工作人员联系您！"
							    type="success"
							    :closable="false">
							  </el-alert>
							</template>
							
							<el-card class="box-card" style="margin-top:20px;">
							  <div slot="header" class="clearfix">
							    <span>名片</span>
								  <el-tag style="float: right;" type="warning">审核中</el-tag>
							  </div>
							  <div class="text item">
							    {{'姓名：' + teacher.name}}
							  </div>
							  <div class="text item">
							    {{'个人简介：' + teacher.name}}
							  </div>
							</el-card>
						</div>
						<el-row style="margin-top:20px;" v-show="active != 3">
						  <el-col :span="24">
						  	<div class="grid-content bg-purple-dark" style="text-align: center;">
						  		<el-button @click="next()">下一步</el-button>
						  	</div>
						  </el-col>
						</el-row>
					</div>
		            <div class="login-link" id="login_link">
		                <span>我已加入，现在就</span>
		                <button class="login-btn" id="login_btn">登录</button></div>
		        	</div>
				    <div id="foot">
				        <div class="mod-footer">
				            <div class="copy-box">2018&nbsp;©Tamguo</div></div>
				    </div>
				</div>
			</div>
	</body>
	<script type="text/javascript" th:inline="javascript">
	var mainHttp = [[${setting.domain}]];
	</script>
	<script type="text/javascript" th:src="${setting.domain + 'js/jquery-1.8.3.min.js'}"></script>
	<!-- 引入组件库 -->
	<script type="text/javascript" src="https://vuejs.org/js/vue.min.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		function cardPhoto(rule, value, callback) {
	        if (vm.cardPhotoList == undefined || vm.cardPhotoList.length == 0) {
	          return callback(new Error('请上传身份证正面照'));
	        }
	        return callback();
	    };
	    function occupationPaper(rule, value, callback){
	    	if (vm.occupationPapersList == undefined || vm.occupationPapersList.length == 0) {
		        return callback(new Error('请上传证件照'));
		    }
	    	return callback();
	    }
	    
		var vm = new Vue({
		  el: '#infoForm',
		  data:{
			  	uploadUrl:mainHttp + 'uploadFile.html',
			  	mobileModel: {
		          mobile: '',
		          verifyCode:''
		        },
		        teacher:{
		        	mobile:null
		        },
		        rules: {
		        	mobile: [
		                { required: true, message: '请输入手机号', trigger: 'blur' },
		                { pattern: /^1[345678]\d{9}$/, message: '手机号格式错误', trigger: 'blur' },
		            ],
		            verifyCode: [
		            	{required: true, message: '请输入验证码', trigger: 'blur'},
		            	{min:6, max:6, message: '验证码格式错误', trigger: 'blur' }
		            ]
		        },
		        teacherRules: {
		        	areaId:[{required: true, message: '请选择地区', trigger: 'blur'}],
		        	kemuId:[{required: true, message: '请选择科目', trigger: 'blur'}],
		        	name:[{required: true, message: '请输入姓名', trigger: 'blur'}],
		        	cardId:[{required: true, message: '请输入身份证号', trigger: 'blur'}],
		        	email:[{required: true, message: '请输入邮箱', trigger: 'blur'},
		        	{ type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }],
		        	cardPhoto:[{validator: cardPhoto, trigger: 'change'}],
		        	occupationPapers:[{validator: occupationPaper, trigger: 'change'}]
		        },
		        active: 1,
		        options: [],
		        courses: [],
		        cardPhotoList: [],
		        occupationPapersList:[]
		  },
		  methods: {
		      next:function(){
		    	  // 第一步
		    	  if(vm.active == 1){
		    		  this.$refs.mobileForm.validate((valid) => {
			    		  if (valid) {
						      if(this.active == 1){
					    		  axios.all([this.getTeacher()]).then(axios.spread(function (tResponse) {
					    		     if(tResponse.data.code == 201 || tResponse.data.code == 202){
					    		    	  vm.$message({showClose:true,duration:1000,message:tResponse.data.message,type:'error',onClose:function(){
					    		    		  vm.mobileModel.verifyCode = "";
							    		      vm.$refs.mobileForm.validate('verifyCode');
					    		    	  }});
					    		     }else if(tResponse.data.code == 203){
					    		    	 vm.active = 2;
					    		    	 vm.teacher.mobile = vm.mobileModel.mobile;
					    		    	 
					    		    	 vm.getCourses();
					    		    	 vm.getArea();
					    		     }else if(tResponse.data.code == 0){
					    		    	 vm.active = 3;
					    		    	 vm.teacher = tResponse.data.result;
					    		     }
					    		  }));
					    	  }
		    	          } else {
		    	             console.log('error submit!!');
		    	             return false;
		    	          }
			          });
		    	  }else if(vm.active == 2){ // 第二步
		    		  this.$refs.teacherForm.validate((valid) => {
			    		  if (valid) {
			    			 vm.teacher.provinceId = vm.teacher.areaId[0];
			    			 vm.teacher.cityId = vm.teacher.areaId[1];
			    			 vm.teacher.courseId = vm.teacher.kemuId[1];
			    			 vm.teacher.subjectId = vm.teacher.kemuId[0];
			    			 vm.teacher.cardPhoto = vm.cardPhotoList[0].path;
						     vm.teacher.occupationPapers = vm.occupationPapersList[0].path;
						     
						     axios.post('joinus.html', vm.teacher).then(function (response) {
						    	 console.log(response);
						    	 vm.active = 3;
						     }).catch(function (error) {console.log(error);});
		    	          } else {
		    	             console.log('error submit!!');
		    	             return false;
		    	          }
			          });
		    	  }
		      },
		      getTeacher:function(){
		    	  return axios.post(mainHttp + 'teacher/info.html',{mobile: vm.mobileModel.mobile,verifyCode: vm.mobileModel.verifyCode});
		      },
		      getCourses:function(){
		    	  axios.get(mainHttp + 'subject/getCourseCascaderTree.html').then(function(response){
		    		  vm.courses = response.data.result;
		    	  });  
		      },
		      getArea:function(){
		    	  axios.get(mainHttp + 'area/findAreaTree.html').then(function(response){
		    		  vm.options = response.data.result;
		    	  });
		      },
		      handleOccupationPapersRemove(file, fileList) {
		          vm.occupationPapersList = [];
		      },
		      handleCardPhotoRemove(file, fileList){
		    	  vm.cardPhotoList = [];
		      },
		      handleExceed(files, fileList) {
	              this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
	          },
	          beforeRemove(file, fileList) {
	              return this.$confirm(`确定移除 ${ file.name }？`);
	          },
	          uploadCardPhotoSuccess(response, file, fileList){
	        	  var cardPhoto = {};
	        	  cardPhoto.name = file.response.title;
	        	  cardPhoto.url = mainHttp + file.response.url;
	        	  cardPhoto.path = file.response.url;
	        	  vm.cardPhotoList.push(cardPhoto);
	          },
	          uploadOccupationPapersSuccess(response, file, fileList){
	        	  var occupationPapers = {};
	        	  occupationPapers.name = file.response.title;
	        	  occupationPapers.url = mainHttp + file.response.url;
	        	  occupationPapers.path = file.response.url;
	        	  vm.occupationPapersList.push(occupationPapers);
	          },
	          sendSms(){
	        	  axios.get(mainHttp + 'sms/sendFindPasswordSms.html?mobile='+vm.mobileModel.mobile).then(function(response){
	        		  if(response.data.code == 200){
	        			  vm.$message('发送成功！');
	        		  }
		    	  });
	          }
		    }
		});
	</script>
</html>